<div class="d-flex">
  <div class="d-grid">
    <div *ngFor="let order of orders" >
      <div class="container">
        <div class="card" style="width: 18rem">
          <div class="card-header p-3 mb-2 bg-danger text-white">
            Pendiente
          </div>
          <div class="card-body">
            <h5 class="card-title">Order</h5>
            <p class="card-text" *ngFor="let product of order.Hamburguesas">{{product.name}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{order.Cliente}}</li>
            <li class="list-group-item">{{order.Fecha}}</li>
            <li class="list-group-item">Table: {{order.Mesa}}</li>
          </ul>
          <div class="card-footer text-muted">
            <button class="btn btn-success">Done!</button>
          </div>
        </div>
        <h3></h3>
      </div>
  </div>
  </div>
</div>
