<div class="my-order d-flex flex-column align-items-center bg-white"> <!--Resumen-->
  <h2 class="text-center">My Order</h2>
  <div class="d-flex flex-column" style="width:100%">
      <p> Day: {{date}}</p>
      <p>Waiter: Juan</p>
      <p>Client: {{nombreCliente}}</p>
      <p>Table: {{mesa}}</p>
  </div>
  <div style="width: 100%" *ngFor="let order of orderSummary; index as index" class="d-flex flex-column">
    <app-new-order [order] = "order" [index] = "index"></app-new-order>
  </div>
  <div class=" div-btn d-flex justify-content-end">
    <button (click)="createOrden($event,orderSummary)" class="btn btn-success mt-2" routerLink="/waiter/list-orders">Enviar</button>
  </div>
</div>
