
.table{
  margin: 2%;
  width: 90%;
  border-radius: 2rem;
}

td, th{
vertical-align: middle;
text-align-last: center;
}

button.btn.btn-dark {
  background: #900;
  color: white;
  border: none;
}

.table-responsive{
  width: 100%;
}
.size-title{
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

@media(min-width:900px) {
  .size-title{
    font-size: 25px;
  }
}

