<div class="d-flex flex-column align-items-center list-users">
  <p class = "size-title">Users</p><br>
  <button class="btn btn-outline-danger add-user" (click)="openDialogToCreateUser()">Add new User</button><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Job</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.userEmail}}</td>
        <td>{{user.userType}}</td>
        <td><button class="btn btn-outline-warning" (click)="openDialogToUpdate(user, update.value )" #update value="true"><i class="fa-solid fa-pen"></i></button></td>
        <td><button class="btn btn-outline-secondary" (click)="deleteUser(user)" #create><i class="fa-solid fa-eraser"></i></button></td>
      </tr>
    </tbody>
  </table>

</div>
