
.table{
  margin: 2%;
  width: 90%;
  border-radius: 2rem;
}

td, th{
vertical-align: middle;
text-align-last: center;
}

button.btn.btn-dark {
  background: #900;
  color: white;
  border: none;
}

