  <div class="container w-100"> <!--sección de productos-->
  <div class="row">
      <div class="col-lg-9">
        <div  class="row my-3 align-items-center justify-content-center" *ngIf="type!== 'breakfasts'">
          <button class="col-lg-3 btn btn-danger m-1" (click)="typeOfProduct(burguer.value)" value="burguers" #burguer>Burger</button>
          <button class="col-lg-3 btn btn-danger m-1" (click)="typeOfProduct(accompaniments.value)" value="accompaniments" #accompaniments>Accompaniments</button>
          <button class="col-lg-3 btn btn-danger m-1" (click)="typeOfProduct(beverages.value)" value="beverages" #beverages>Beverages</button>
        </div>
        <div class="row gy-3">
            <div class="col-lg-4" *ngFor="let product of products[type]">
              <app-product-card [product]="product" ></app-product-card>
            </div>
        </div>
      </div>
      <div class="col-lg-3"><!--Resumen-->
        <app-order-summary></app-order-summary>
        </div>
  </div>
</div>



