.card{
  border-radius: 2rem;
  box-shadow: 1px 1px 57px 1px rgba(0,0,0,0.26);
-webkit-box-shadow: 1px 1px 57px 1px rgba(0,0,0,0.26);
-moz-box-shadow: 1px 1px 57px 1px rgba(0,0,0,0.26);
  .color-price{
    color:#D93654;
    font-weight: 700;
  }
}
.card-img-thumbnail{
  width: 120px;
}
.container{
  padding: 0 0.25rem;
  margin-bottom: 25px;
}

select{
width: 48%;
text-align: center;
border-color: transparent;
border-radius: 0.5rem;
background:#FFC107;
cursor: pointer;
font-weight: 500;
padding: 0.25rem 0;
}
