.card-img-thumbnail{
  width: 100px;
}
// .container{
//   display: flex;
//   justify-content: center;
// }

select{
text-align: center;
border-color: transparent;
border-radius: 0.25rem;
background-color: rgba(241, 185, 2, 0.882);
cursor: pointer;
}

