<div class="d-flex">
      <div *ngFor="let order of ordersChef; index as index" >
        <div class="container" *ngIf="order.Status !== 'Ready'">
          <div class="card" style="width: 18rem">
            <h2 class="card-header p-3 mb-2" [ngClass]="{'bg-light text-black': order.Status === 'Pending'}">
              {{order.Status}}
            </h2>
            <div class="card-body">
              <h3 class="card-title">Order</h3>
              <p class="card-text" *ngFor="let product of order.Products">{{product.name}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Date: {{order.Date}}</li>
              <li class="list-group-item">Table: {{order.Table}}</li>
            </ul>
            <div class="card-footer text-muted">
              <button [ngClass]="{'btn btn-success': order.Status==='Pending'}" *ngIf="order.Status==='Pending'"
              (click)="changeStatus(btnStatus.value, index)" #btnStatus value="Received" >Received</button>
              <button [ngClass]="{'btn btn-warning': order.Status==='Received'}" *ngIf="order.Status==='Received'"
              (click)="changeStatus(btnStatus.value, index)" #btnStatus value="Preparing" >Preparing</button>
              <button [ngClass]="{'btn btn-success': order.Status==='Preparing'}" *ngIf="order.Status==='Preparing'"
              (click)="changeStatus(btnStatus.value, index)" #btnStatus value="Ready" >Ready!</button>
            </div>
          </div>
          <h3></h3>
        </div>
    </div>
  </div>
