<div class="d-flex">
  <div class="div-tables d-flex flex-column align-items-center">
    <h1>TABLES</h1>
    <div class="d-grid">
      <div class="container">
        <div class="card">
          <div class="card-header p-3 mb-2 bg-danger text-white">
            Pendiente
          </div>
          <div class="card-body">
          <img src="../../assets/img/mesa.png" class="ml-10">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-header p-3 mb-2 bg-success text-white">
            Servido
          </div>
          <div class="card-body">
          <img src="../../assets/img/mesa.png" class="ml-10">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-header p-3 mb-2 bg-danger text-white">
            Pendiente
          </div>
          <div class="card-body">
          <img src="../../assets/img/mesa.png" class="ml-10">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-header p-3 mb-2 bg-success text-white">
            Servido
          </div>
          <div class="card-body">
          <img src="../../assets/img/mesa.png" class="ml-10">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-header p-3 mb-2 bg-danger text-white">
            Pendiente
          </div>
          <div class="card-body">
          <img src="../../assets/img/mesa.png" class="ml-10">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-header p-3 mb-2 bg-success text-white">
            Servido
          </div>
          <div class="card-body">
          <img src="../../assets/img/mesa.png" class="ml-10">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-header p-3 mb-2 bg-danger text-white">
            Pendiente
          </div>
          <div class="card-body">
          <img src="../../assets/img/mesa.png" class="ml-10">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-header p-3 mb-2 bg-secondary text-white">
            Vacío
          </div>
          <div class="card-body">
          <img src="../../assets/img/mesa.png" class="ml-10">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
