.header{
  background: #343A40;
}
.div-tables{
  width: 100%;
}
.d-grid{
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  img{
    width: 220px;
  }
}
.size-title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
@media(min-width:900px) {
  .size-title{
    font-size: 25px;
  }
}
