.header{
  background: #343A40;
  color: #fff;
  }
  .example-spacer{
    color: #fff;
  }
  .exit-app, .navbar-toggler{
    background: transparent;
    border-style: none;
    color:#fff;
  }
  .logo{
    width:3rem;
  }
