<div class="d-flex justify-content-around">
  <p style="width: 60%;">{{orden.name}}</p>
  <button  (click)="decreaseProduct($event)"class="btn btn-danger">-</button>
  <p>{{orden.count}}</p>
  <button (click)="increaseProduct($event)" class="btn btn-danger">+</button>
  <p>${{orden.price*orden.count}}</p>
  <button (click) = "delete($event)" class = "btn btn-light">🗑️</button>
</div>
<div *ngIf="orden.huevo>0" class="d-flex">
  <p>Huevo</p>
  <p>${{orden.huevo}}</p>
</div>
<div *ngIf="orden.queso>0" class="d-flex">
  <p>Queso</p>
  <p>${{orden.queso}}</p>
</div>

