<div>
  <div *ngIf = "count >0" class="d-flex justify-content-around">
    <p>{{orden.name}}</p>
    <button  (click)="decreaseProduct($event)" class="btn btn-danger">-</button>
    <p>{{count}}</p>
    <button (click)="increaseProduct($event)" class="btn btn-danger">+</button>
    <p>${{orden.price*count}}</p>
    <button (click) = "delete($event)" class = "btn btn-light">🗑️</button>
  </div>
  <div class="d-flex flex-column justify-content-around">
    <p>Huevo: {{orden.huevo>0 ? orden.huevo: 0}}</p>
    <p>Queso: {{orden.queso>0 ? orden.queso: 0}}</p>
  </div>
</div>


