<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">BURGER - QUEEN</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        HOME
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white ">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        PEDIDOS
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white ">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        PRODUCTOS
      </a>
      <ul class="list-unstyled">
        <li>        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
         🍔Hamburguesas
        </a></li>
        <li>        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          🍟Acompañamientos
        </a></li>
        <li>        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          🥤Bebidas
        </a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        MESAS
      </a>
    </li>
  </ul>
  <hr>
  <div class="d-flex">
    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
    <strong>Juan</strong>
  </div>
</div>
