<div class="sidenav"[ngClass]="collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
         <button class="logo" (click)="toggleCollapse()"><img src="../../../assets/hamburguesa-con-queso.png" id="logo"></button>
         <div class="logo-text" @fadeInOut *ngIf="collapsed">Burger Queen</div>
         <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
        <i class="fa-solid fa-xmark"></i>
         </button>
    </div>
    <ul class="sidenav-nav">
         <li class="sidenav-nav-item" *ngFor = "let data of navData">
              <a class="sidenav-nav-link" [routerLink]="[data.routerLink]"
              >
                   <i [class]="data.icon"></i>
                   <span class="sidenav-link-text" fadeInOut *ngIf="collapsed">
                    {{data.label}}
                  </span>
              </a>
         </li>
    </ul>
</div>
<!-- <div class="main-containerd-flex">
  <div class="sidebar"id="side_nav">
     <div class="header-box">
         <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2me-2">CL</span><span class="text-white">Coding League</span></h1>
      </div>
  </div>
  <div class="content">
  </div>
</div> -->
