
.table{
  margin: 2%;
  width: 90%;
  border-radius: 2rem;
  box-shadow: 1px 1px 57px 1px rgba(0, 0, 0, 0.385);
-webkit-box-shadow: 1px 1px 57px 1px rgba(0,0,0,0.385);
-moz-box-shadow: 1px 1px 57px 1px rgba(0,0,0,0.385);
}
button.btn.btn-dark {
  background: #900;
  color: white;
  border: none;
}
.productImg{
<<<<<<< HEAD
  width: 100px;
}

=======
max-width: 100px;
}
>>>>>>> a90d5dec3809788dc483ae6e349ae7b85a291f4c
