
.table-responsive{
  width: 90%;
}
.table{
  border-radius: 5rem;
  border-style: solid gray;
}

td, th{
vertical-align: middle;
text-align-last: center;
}

button.btn.btn-dark {
  background: #900;
  color: white;
  border: none;
}
.productImg{
max-width: 100px;
}

.size-title{
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

@media(min-width:900px) {
  .size-title{
    font-size: 25px;
  }
}
