<div>
  <table>
    <tr>
      <td class="order-name">{{order.name}}</td>
      <td><button class="btn btn-danger" (click)="decreaseProduct(index)">-</button>{{order.count}}
        <button (click)="increaseProduct(index)" class="btn btn-danger">+</button></td>
      <td class="text-center">${{totalPerProduct()}}</td>
      <td><button class = "btn btn-light" (click)="deleteOrder(index)">🗑️</button></td>
    </tr>
    <tr *ngIf = "order.egg>0">
      <td class="extra-item">{{order.egg}} Egg</td>
      <td></td>
      <td class="text-center extra-item">$ {{order.egg}}</td>
      <td></td>
    </tr>
    <tr  *ngIf = "order.cheese>0">
      <td class="extra-item">{{order.cheese}} Cheese</td>
      <td></td>
      <td class="text-center extra-item">$ {{order.cheese}}</td>
      <td></td>
    </tr>
  </table>
</div>
