table{
  width: 100%;
  td{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .order-name{
    font-weight: bold;
    width: 30%;
  }
  .extra-item{
    font-size: 13px;
  }
}
.delete-icon{
  border-style: none;
  background: transparent;
  color: gray;
}
